<!doctype html>
<html lang="en" class="no-js">
<head>
  <base target="_blank">
  <meta charset="UTF-8" />
  <title>Share your poetries for free!</title>
  <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='assets/favicon.png')}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous" type="text/css">
  <!-- remember, jQuery is completely optional -->
  <!-- <script type='text/javascript' src='js/jquery-1.11.1.min.js'></script> -->
  <script type="text/javascript" src="{{url_for('static', filename='js/jquery.particleground.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/demo.js')}}"></script>
</head>

<body>

<div id="particles">

  <div id="intro">
  	<h2>poem</h2>
      <h3 style="font-family: 'Syncopate', sans-serif; font-weight: 10;">
      	

Matter of time<br>
Like leaves in Autumn,<br>
Your falling reflects glory. <br>
Like water of a mighty river, <br>Tear drops feels so holy. 
Every step I get closer, <br>
Feels like I am being fooled by my guardian angel. <br>
Every word seem true, 
<br>When seen from a different ane. <br>
Some dreams only come true in the world of ants and fairies. <br>
Its just a matter of time, <br>
Your words roam my dairies <br>Sucidal thoughts, lets end this. <br>
On your neck, theres a sharp knife Illusional clocks, <br>
its a bad day, not a bad life <br>
From autumn to summer, <br>
you will forget our crimes. <br>
Everything seems like peices of limes. <br>
Its just a matter of time <br>
Its just a matter of time
      </h3>
        <hr style="width: 50%; background-color: #E83951; border-color: #E83951;">
        <br>
   
        <h1> - Murtaza</h1>

    
  </div>
</div>

</body>
</html>